.card-container {
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    justify-content: center;
    margin-block-start: 0.8em;
}

.card-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    justify-content: center;
    margin-block-start: 1em;
}

.event-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
    justify-content: center;
    gap: 0.5em;
}