.nav-toggle {
    padding: 0.2em 0.5em;
    border: 0;
    border-radius: 0.2em;
    background-color: $brand-color;

    svg {
        fill: $light-grey;
    }

    @include on-event {
        border: 2px solid $light-grey;
    }

    @media (min-width: 40em) {
        display: none;
    }
}

.cta-btn {
    padding: 0.5em 0.7em;
    border: 0;
    border-radius: 0.5em;
    background-color: $brand-color;
    color: $light-grey;
    font-weight: bold;
    font-size: 1.1rem;

    @include on-event {
        border: 2px solid $light-grey;
    }

    @media (min-width: 60em) {
        font-size: 1.4rem;
    }
}

.btn {
    padding: 0.5em 1.5em;
    border: 0;
    border-radius: 1.3em;
    background-color: $background-color;
    color: $light-grey;
    font-weight: 600;
    font-size: 1rem;
    
    @include on-event {
        border: 2px solid $light-grey;
    }
}

.event-header {
    .nav-toggle {
        @include on-event {
            border: 2px solid #000;
        }
    }
}