.nav-toggle {
    background-color: $brand-color;
    border: 0;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;

    svg {
        fill: $light-grey;
    }

    @include on-event {
        border: 2px solid $light-grey;
    }

    @media (min-width: 600px) {
        display: none;
    }
}

.cta-btn {
    background-color: $brand-color;
    color: $light-grey;
    font-weight: bold;
    font-size: 1.1rem;
    border: 0;
    border-radius: 0.5em;
    padding: 0.5em 0.7em;
    @include on-event {
        border: 2px solid $light-grey;
    }
    @media (min-width: 800px) {
        font-size: 1.4rem;
    }
}

.btn {
    background-color: $background-color;
    color: $light-grey;
    font-weight: 600;
    font-size: 1rem;
    border: 0;
    border-radius: 1.3em;
    padding: 0.5em 1.5em;
    @include on-event {
        border: 2px solid $light-grey;
    }
}

.event-header {
    .nav-toggle {
        @include on-event {
            border: 2px solid #000;
        }
    }
}