.card {
    padding: 0.7em;
    border-radius: 0.3em;
    background-color: #fff;

    h3 {
        font-size: var(--fs-600);
    }

    img {
        border-radius: 0.3em;
    }
}

.details {
    padding-block-start: 0.5em;
}

.date {
    padding-block: 0.5em;
    color: $brand-color;
    font-size: 0.9rem;
    font-weight: 500;
}

.venue {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    color: $mid-grey;
}

.cardd {
    position: relative;

    img {
        width: 100%;
        height: 15em;
        object-fit: cover;
        border-radius: 0.5em;
    }

    h3 {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%);
        width: 150px;
        padding: 0.2em 1em;
        border: 3px solid #fff;
        border-radius: 1.2em;
        background-color: $background-color;
        text-align: center;
    }

    a {
        color: $light-grey;
        font-weight: 600;
        font-size: var(--fs-600);
    }
}

.event-card {
    position: relative;
    img {
        height: 12em;
        width: 100%;
        border-radius: 0.5em;
        object-fit: cover;
    }
}
.image-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);

    h3 {
        font-size: var(--fs-600);
    }

    a {
        color: $light-grey;
    }
    
    .date {
        color: $light-grey;
        font-size: var(--fs-400);
    }
}