.section-heading {
    text-align: center;
    h2 {
        font-size: 2rem;
    }
    p {
        color: $dark-grey;
        font-weight: 500;
        font-size: 1.1rem;
    }
    @media (min-width: 600px) {
        text-align: start;
    }
    @media (min-width: 800px) {
        width: 70%;
        h2 {
            font-size: 2.5rem;
        }
    }
}

.banner {
    background-color: $background-color;
    color: $light-grey;
    @media (min-width:600px) {
        .grid {
            grid-template-columns: 40% 60%;
            gap: 0em;
            align-items: center;
        }
    }
}
.banner-image {
    @media (min-width: 600px) {
        img {
            height: 250px;
        }
    }
}
.banner-details {
    text-align: center;
    h2 {
        font-size: 2rem;
    }
    p {
        font-weight: 500;
        font-size: 1.1rem;
        padding-block: 0.5em;
    }
    @media (min-width: 600px) {
        text-align: start;
    }
    @media (min-width: 800px) {
        h2 {
            font-size: 2.5rem;
        }
    }
}