.section-heading {
    text-align: center;

    h2 {
        font-size: var(--fs-700);
    }

    p {
        color: $dark-grey;
        font-weight: 500;
        font-size: var(--fs-400);
    }

    @media (min-width: 40em) {
        text-align: start;
    }

    @media (min-width: 60em) {
        width: 70%;
    }
}

.banner {
    background-color: $background-color;
    color: $light-grey;

    @media (min-width: 40em) {
        .grid {
            grid-template-columns: 40% 60%;
            align-items: center;
            gap: 0em;
        }
    }
}

.banner-image {
    @media (min-width: 40em) {
        img {
            height: 250px;
        }
    }
}

.banner-details {
    text-align: center;
    
    h2 {
        font-size: var(--fs-700);
    }

    p {
        padding-block: 0.5em;
        font-weight: 500;
        font-size: var(--fs-400);
    }

    @media (min-width: 40em) {
        text-align: start;
    }
}