.container {
  width: min(100% - 3rem, 75rem);
  margin-inline: auto;
  padding-block: 1.7em;

  @media (min-width: 40em) {
    width: min(100% - 7rem, 75rem)
  }
}

.flex {
	display: flex;
	gap: 1em;
}

.grid {
	display: grid;
	gap: 2rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  overflow: hidden;
  padding: 0em;
  border: 0em;
}

.skip-link {
  position: absolute;
  left: 40%;
  transform: translateY(-500%);
  transition: transform 250ms ease-in;
  padding: .5em 1em;
  color: $light-grey; 
  font-weight: 700;
  font-size: var(--fs-400);
}

.skip-link:focus {
  transform: translateY(0%);
}