.container {
  width: min(100% - 3rem, 75rem);
  margin-inline: auto;
  padding-block: 1.7em;

  @media (min-width: 40em) {
    width: min(100% - 7rem, 75rem)
  }
}

.flex {
	display: flex;
	gap: 1em;
}

.grid {
	display: grid;
	gap: 2rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}